@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$backgroundColor: #293241;
$bioColor: #3D5A80;
$categoryColor: #98C1D9;
$categorySecondaryColor: #E0FBFC;

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    color: white;
}

body {
    background: $bioColor;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: $backgroundColor;
    min-height: 100vh;
}

nav {
    padding-top: 10px;
    margin-bottom: 20px;
    ul {
        position: relative;
        width: 100%;
        height: 30px;
        display: flex;
        list-style: none;

        .main-page {
            position: absolute;
            left: 0;
        }
        .menu {
            position: absolute;
            right: 20px;
        }
        a {
            text-decoration: none;
        }
        .main-page {
            font-size: 1.2em;
            font-weight: bold;
            margin-left: 15px;
        }
        .fa {
            font-size: 1.3em;
        }
    }
}

.profile-info {
    margin: 15px 20px;
    display: flex;
    align-items: center;
    .profile-container {
        text-align: center;
        img {
            border-radius: 50%;
            width: 125px;
            height: 125px;
        }
    }
    p {
        font-size: 0.8em;
        margin-left: 50px;
        padding: 20px;
        background: $bioColor;
        border-radius: 6px;
    }
}

.link-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
     font-size: 3em;
     margin: 10px 0 30px 0;  
    }

    button.edit-save {
        align-self: flex-end;
        margin-right: 20px;
        padding: 5px 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        color: $categorySecondaryColor;
        background-color: $bioColor;
    }

    button:hover {
        cursor: pointer;
        background: $categorySecondaryColor;
        color: $categoryColor;
    }
    
    .category {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .category-button {
            user-select: none;
            margin-top: 20px;
            position: relative;
            background: $categoryColor;
            padding: 5px 0;
            width: 20em;
            align-self: center;
            text-align: center;
            display: flex;
            justify-content: center;
            
            &:hover {
                cursor: pointer;
            }   
    
            .fa-angle-down, .fa-angle-up {
                position: absolute;
                right: 10px;
                font-size: 1.2em;
            }
            .fa-trash {
                display: none;
            }
            .fa-trash.active{
                display: inline-block;
                position: absolute;
                left: -20px;
                font-size: 1.2em;
                color: rgb(245, 126, 126);
            }
        }

        .category-links {
            display: none;
        }
    
        .category-links.active {
            position: relative;
            line-height: 1.5em;
            width: 20em;
            margin-top: 10px;
            display: block;
            color: $categorySecondaryColor; 
            border-left: 2px solid $categorySecondaryColor;
            border-right: 2px solid $categorySecondaryColor;
            padding: 10px;
            text-align: center;
            a {
                display: block;
                text-decoration: none;
                transition: all .3s;
            }
            
            a:hover {
                color: $categoryColor;
                text-decoration: underline;
            }

            .link {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;

                span.del-link {
                    display:none;
                }

                span.del-link.active {
                    display: block;
                    position: absolute;
                    right: 10px;
                }
                
                span.del-link:hover {
                    cursor: pointer;
                }
            }

            p.add-link {
                display: none;
            }

            p.add-link.active {
                display: block;
                position: absolute;
                right: 18px;
            }
            
            p.add-link:hover {
                cursor: pointer;
            }
        }
    }
    p.add-category {
        display: none;
    }
    p.add-category.active {
        display: block;
        margin-top: 10px;
        font-size: 1.3em;
        font-weight: bold;
    }
    p.add-category:hover {
        cursor: pointer;
    }
}

.category:last-of-type .category-links.active {
    border-bottom: 2px solid $categorySecondaryColor;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

// footer {
//     position: absolute;
//     background: $bioColor;
//     width: 800px;
//     text-align: center;
//     bottom: 0;
// }