@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

a {
  color: white;
}

body {
  background: #3D5A80;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

button {
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: #293241;
  min-height: 100vh;
}

nav {
  padding-top: 10px;
  margin-bottom: 20px;
}

nav ul {
  position: relative;
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul .main-page {
  position: absolute;
  left: 0;
}

nav ul .menu {
  position: absolute;
  right: 20px;
}

nav ul a {
  text-decoration: none;
}

nav ul .main-page {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 15px;
}

nav ul .fa {
  font-size: 1.3em;
}

.profile-info {
  margin: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-info .profile-container {
  text-align: center;
}

.profile-info .profile-container img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.profile-info p {
  font-size: 0.8em;
  margin-left: 50px;
  padding: 20px;
  background: #3D5A80;
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
}

.link-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-container h1 {
  font-size: 3em;
  margin: 10px 0 30px 0;
}

.link-container button.edit-save {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 20px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #E0FBFC;
  background-color: #3D5A80;
}

.link-container button:hover {
  cursor: pointer;
  background: #E0FBFC;
  color: #98C1D9;
}

.link-container .category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-container .category .category-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 20px;
  position: relative;
  background: #98C1D9;
  padding: 5px 0;
  width: 20em;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-container .category .category-button:hover {
  cursor: pointer;
}

.link-container .category .category-button .fa-angle-down, .link-container .category .category-button .fa-angle-up {
  position: absolute;
  right: 10px;
  font-size: 1.2em;
}

.link-container .category .category-button .fa-trash {
  display: none;
}

.link-container .category .category-button .fa-trash.active {
  display: inline-block;
  position: absolute;
  left: -20px;
  font-size: 1.2em;
  color: #f57e7e;
}

.link-container .category .category-links {
  display: none;
}

.link-container .category .category-links.active {
  position: relative;
  line-height: 1.5em;
  width: 20em;
  margin-top: 10px;
  display: block;
  color: #E0FBFC;
  border-left: 2px solid #E0FBFC;
  border-right: 2px solid #E0FBFC;
  padding: 10px;
  text-align: center;
}

.link-container .category .category-links.active a {
  display: block;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.link-container .category .category-links.active a:hover {
  color: #98C1D9;
  text-decoration: underline;
}

.link-container .category .category-links.active .link {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-container .category .category-links.active .link span.del-link {
  display: none;
}

.link-container .category .category-links.active .link span.del-link.active {
  display: block;
  position: absolute;
  right: 10px;
}

.link-container .category .category-links.active .link span.del-link:hover {
  cursor: pointer;
}

.link-container .category .category-links.active p.add-link {
  display: none;
}

.link-container .category .category-links.active p.add-link.active {
  display: block;
  position: absolute;
  right: 18px;
}

.link-container .category .category-links.active p.add-link:hover {
  cursor: pointer;
}

.link-container p.add-category {
  display: none;
}

.link-container p.add-category.active {
  display: block;
  margin-top: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

.link-container p.add-category:hover {
  cursor: pointer;
}

.category:last-of-type .category-links.active {
  border-bottom: 2px solid #E0FBFC;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container .modal {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  width: 200px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  min-height: 150px;
}

.modal-container .modal input {
  margin: 5px 0;
}

.modal-container .modal input:focus {
  outline: none;
}

.modal-container .modal button.close-btn {
  background: white;
  border: none;
}

.modal-container .modal .fa-times {
  color: #3D5A80;
}

.modal-container .modal .fa-times:hover {
  color: red;
}

.modal-container .modal-content {
  margin: 5px 10px;
  color: #293241;
}

.modal-container .modal .accept-btn, .modal-container .modal .decline-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background: #4a8a4a;
  color: white;
  border: none;
  text-align: center;
  padding: 5px 10px;
}

.modal-container .modal .accept-btn, .modal-container .modal .decline-btn:hover {
  cursor: pointer;
}

.modal-container .modal .decline-btn {
  background: #c05041;
}

.modal-container.active {
  display: block;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=profile_layout.css.map */